<h3>Seems like this is your first time with Contextualizer!</h3>

<h6>Check links below to learn more about this project.</h6>

<a href="#">Why Contextualize</a><br />
<a href="#">Why How Contextualize works</a>

<p>For More Information</p>

@code {
    [CascadingParameter] BlazoredModalInstance ModalInstance { get; set; }
}
